name = "fibonacci-mcfibface-api"
main = "src/index.ts"
compatibility_date = "2024-12-01"

[observability]
enabled = true

[[durable_objects.bindings]]
name = "ROOMS"
class_name = "RoomDO"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["RoomDO"]
